@import "tailwindcss";

/* Fonts & General Styles */
body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.font-dancing-script {
  font-family: var(--font-dancing-script);
}

.font-parisienne {
  font-family: var(--font-parisienne);
}

/* Curves Section */
.parallax {
  /* background-image: url("/test-image.jpg"); */
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.downward-curve {
  background-color: black;
  clip-path: ellipse(150% 100% at 50% 100%);
}

.curve-left {
  clip-path: ellipse(80% 100% at 90% 50%);
}

/* Media Queries */
@media (min-width: 0px) {
  .parallax {
    clip-path: ellipse(200% 100% at 50% 0%);
  }

  .height {
    height: 75vh;
  }

  .text-size {
    font-size: 1.25rem;
  }

  .brief-intro-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .parallax {
    clip-path: ellipse(150% 100% at 50% 0%);
  }

  .height {
    height: 120vh;
  }

  .text-size {
    font-size: 1.875rem;
  }

  .brief-intro-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
