@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.font-dancing-script {
  font-family: var(--font-dancing-script);
}

.font-parisienne {
  font-family: var(--font-parisienne);
}

.parallax {
  /* background-image: url("/test-image.jpg"); */
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 0px) {
  .parallax {
    clip-path: ellipse(200% 100% at 50% 0%);
  }

  .height {
    height: 75vh;
  }
}

@media (min-width: 768px) {
  .parallax {
    clip-path: ellipse(150% 100% at 50% 0%);
  }

  .height {
    height: 120vh;
  }
}
